{% extends "votingRecord/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'votingRecord/agendaComment' %}"> </script>
{% endblock %}

{% block body %}

<h1 id="agenda_id"> {{agenda_id}} </h1>

<!-- ToDo: add link to agenda item page at legistar for attatchments-->

{{text | safe}}

<!-- ToDo:
    1)Display previous comments
    2) Form should only be visible to logged-in users -->

<div id="div_agenda_comment">
    <form id="agenda_form">
        {% csrf_token %}
        <input disabled value="{{ request.user.username }}">
        <label>
            Comment:
            <textarea id="agenda_comment"></textarea>
        </label>
    </form>
</div>

{% endblock %}