{% extends "votingRecord/layout.html" %}

{% block body %}

<h1> Voting Record of
    <a href="{% url 'votingRecord:bio' council_member.id %}">
        {{ council_member.name }} </a>
</h1>

<span>
{% include "votingRecord/dropdown.html" %}
</span>

<table class="table">
    <thead>
    <tr>
        <th scope="col"> Name </th>
        <th scope="col"> Agenda Item </th>
        <th scope="col"> Vote </th>
        <th scope="col"> Result </th>
    </tr>
    </thead>

    <tbody>
    {% for vote in vote_records %}
        <tr>
            <td> {{vote.voter.name}} </td>
            <td> <a href="{% url 'votingRecord:agenda_text' vote.agenda_item.id %}">
                {{vote.agenda_item.id}} </a> </td>
            <td> {{vote.vote_for}} </td>
            <td> {{vote.agenda_item.action}} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
